<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/styles.css">
<h1>ROCK-PAPER-SCISSORS!</h1>
</head> 
<h1>.......</h1>
<h2> Sign in to play</h2>
<form action="/names" method="post">
    <label for="player_1">
    Player 1 name
<input type="text" name="player_1"> 
    </label>
    <label for="player_2">
    Player 2 name
<input type="text" name="player_2"> 
    </label>
<input type="submit" value="Submit">
</form>
</html>
