<%= @game.playerone.name%> vs. <%= @game.playertwo.name %>
<!--@game is an instance of the game class, playerone gives us an instance of the player class and name gives us the attribute of the player class -->

<h1>.......</h1>

<a href="/gamer">LETS PLAY!</a>


